.App {
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: right;
  min-height: 8vh;
  background: #282c34;
  color: white;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
}